<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>About Us | Saint Louis Thread Company</title>

<!-- Scripts -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type='text/javascript' src='javascripts/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='javascripts/jquery-migrate-1.2.1.min.js'></script>

</head>
<body class="page">

<!-- Content Area -->
<div id="content-wrapper">

	<section class="pages clearfix">

		<!-- Section Title -->
		<div id="section-title">
			<h1>Saint Louis Thread Company</h1>
		</div>
		<!-- Section Title End -->

    <h4>It began with two Bro Boys and a big dream.</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh. Nullam nec diam risus. Donec laoreet ultricies rhoncus. Aliquam adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

		<h4>Meet the Team</h4>
		
		<div class="column_one_half">
			<div class="display-image center" style="width:100%; height:auto;">
				<img src="images/the-team/team-1.jpg" alt="" style="width:100%;" />
				<div class="centered-caption-wrapper">
					<div class="caption-table">
						<div class="caption-table-cell">
							<div class="caption elegant center" style="width:100%;">
								<p><span class="size-6" style="margin-bottom:0;text-align:center;"><strong>Mike Knudsen</strong></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h6 style="text-align: center;">Co-Founder</h6>
			<p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh. Nullam nec diam risus. Donec laoreet ultricies rhoncus. Aliquam adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<ul class="socialSmall black" style="margin-bottom:0;float:none;">
				<li><a class="behance" href="#" target="_blank"></a></li>
				<li><a class="deviantart" href="#" target="_blank"></a></li>
				<li><a class="dribbble" href="#" target="_blank"></a></li>
			</ul>
		</div>

		<div class="column_one_half last">
			<div class="display-image center" style="width:100%; height:auto;">
				<img src="images/the-team/team-3.jpg" alt="" style="width:100%;" />
				<div class="centered-caption-wrapper">
					<div class="caption-table">
						<div class="caption-table-cell">
							<div class="caption elegant center" style="width:100%;">
								<p><span class="size-6" style="margin-bottom:0;text-align:center;"><strong>Pat Knudsen</strong></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h6 style="text-align: center;">Co-Founder</h6>
			<p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh. Nullam nec diam risus. Donec laoreet ultricies rhoncus. Aliquam adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<ul class="socialSmall black" style="margin-bottom:0;float:none;">
				<li><a class="twitter" href="#" target="_blank"></a></li>
				<li><a class="youtube" href="#" target="_blank"></a></li>
				<li><a class="dribbble" href="#" target="_blank"></a></li>
			</ul>
		</div>
		<div style="clear:both;"></div>


	</section>

</div>
<!-- Content Area End -->

<!-- Footer -->
<div id="footer-wrapper">

	<div id="footer-bottom">
		<div id="footer-bottom-inner-wrapper">
			<footer>
				<!-- Copyright info -->
				<p class="footer-copyright">&copy; 2014 <a href="http://shop.saintlouisthreadcompany.com" title="Saint Louis Thread Company">Saint Louis Thread Company</a>. All Rights Reserved.</p>
			</footer>
			<!-- "Back to Top" link -->
			<a class="back-to-top" title="Back to top" href="#">Back to top</a>
		</div>
	</div>

</div>
<!-- Footer End -->

</body>
</html>