<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Saint Louis Thread Company | Making High Quality, Durable Goods Inspired by the City of Saint Louis Since 2014.</title>

<!-- Scripts -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type='text/javascript' src='javascripts/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='javascripts/jquery-migrate-1.2.1.min.js'></script>

</head>
<body class="home page">

<!-- Content Area -->
<div id="content-wrapper" class="front-page front-page-full-width-media">

	<!-- Epic Slider -->
	<section class="slider-full-width slider-homepage clearfix">
		<div id="epicSlider1" class="epic-slider slider-wrapper">
			<ul id="slides">
				<li data-image="images/portfolio/30.jpg">
					<div class="es-caption" style="" data-caption="impact" data-caption-position="center" data-caption-width="550">
						<p><span class="size-2" style="margin-bottom:0;">SAINT LOUIS THREAD COMPANY</span><span class="size-6" >Designed in Chicago. <br>Made in Los Angeles. <br>Inspired by Saint Louis.</span></p>
					</div>
				</li>
				<li data-image="images/portfolio/beach-woman.jpg">
					<div class="es-caption" style="" data-caption="impact" data-caption-position="center" data-caption-width="770">
						<p><span class="size-2" style="margin-bottom:0;">A KICKASS HTML5 </span><span class="size-5" >PHOTOGRAPHY THEME</span> <a href="portfolio.html" class="submit submitDarkGray" style="margin-bottom:0;" title="">See Our Work</a></p>
					</div>
					<div class="es-video-background-wrapper">
						<video id="fs1" class="es-video-background">
							<source src="images/portfolio/beach-woman.m4v" type="video/mp4" />
							<source src="images/portfolio/beach-woman.webm" type="video/webm" />
							<source src="images/portfolio/beach-woman.ogv" type="video/ogg" />
						</video>
					</div>
				</li>
				<li data-image="images/portfolio/31.jpg">
					<div class="es-caption" style="" data-caption="striped" data-caption-position="bottom-left" data-caption-width="450">
						<p>
							<span class="size-6" >IDEAL FOR PHOTOGRAPHERS,</span><br />
							<span class="size-6" >AGENCIES AND CREATIVE FREELANCERS</span><br />
							<a href="#" class="es-next-slide"><span class="size-6" >Next Slide</span></a>
						</p>
					</div>
				</li>
				<li data-image="images/portfolio/33.jpg">
					<div class="es-caption" style="" data-caption="elegant" data-caption-position="bottom-left" data-caption-width="350">
						<p>
							<span class="size-2" >THE PERFECT SHOWCASE</span><br />
							A must have for the serious photographer or studio. Full width slider with fullscreen toggle, sexy portfolio layouts and much more. <a class="es-next-slide" href="#">Next Slide</a>.
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- Epic Slider End -->
	
</div>
<!-- Content Area End -->

</body>
</html>