<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Saint Louis Thread Company | Durable Dry Goods Since 2014</title>

<!-- Scripts -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type='text/javascript' src='javascripts/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='javascripts/jquery-migrate-1.2.1.min.js'></script>

</head>
<body class="home page">

<!-- Content Area -->
<div id="content-wrapper" class="front-page front-page-full-width-media">

	<!-- Epic Slider -->
	<section class="slider-full-width slider-homepage clearfix">
		<div id="epicSlider1" class="epic-slider slider-wrapper">
			<ul id="slides">
				<li data-image="images/portfolio/simba.jpg">
					<div class="es-caption" style="" data-caption="impact" data-caption-position="center" data-caption-width="870">
						<p><span class="size-2" style="margin-bottom:0;">SAINT LOUIS THREAD COMPANY </span><span class="size-5" >DURABLE DRY GOODS SINCE 2014</span> <a href="http://shop.saintlouisthreadcompany.com" class="submit submitTheme" style="margin-bottom:0;" title="">Shop Now</a></p>
					</div>
					<div class="es-video-background-wrapper">
						<video id="fs1" class="es-video-background">
							<source src="images/portfolio/simba.m4v" type="video/mp4" />
							<source src="images/portfolio/simba.webm" type="video/webm" />
							<source src="images/portfolio/simba.ogv" type="video/ogg" />
						</video>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- Epic Slider End -->
	
</div>
<!-- Content Area End -->

</body>
</html>